
/* Your CSS Code here. */
.container-fluid{
	display:grid;
	grid-template-rows:repeat(4,100px);
	border:1px solid lightblue;
	padding:10px;
}
.col-sm-11{
	display:grid;
	grid-template-columns:repeat(12,100px);
	width:100px;
	height:100px;
	border:1px solid lightblue;
}
.col-sm-1{
	width:100px;
	height:100px;
	padding:10px;
}
.col-sm-21{
    display:grid;
	grid-template-columns:repeat(6,100px);
}
.col-sm-2{
	width:100px;
	height:100px;
	padding:10px;
}
.col-sm-41{
	display:grid;
	grid-template-columns:repeat(3,100px);
	border:px solid lightblue;
}
.col-sm-4{
	width:100px;
	height:100px;
	padding:10px;
}
.col-sm-121{
	display:grid;
	grid-template-columns:repeat(1,100px);
}
.col-sm-12{
	width:100px;
	height:100px;
	padding:10px;
}

